
[Desktop Entry]
Name=Solvionyx System Manager
Exec=solvionyx-system-manager
Icon=solvionyx-system-manager
Type=Application
Categories=System;Settings;
