[Desktop Entry]
Type=Application
Name=Solvionyx Welcome
Comment=First run welcome experience
Exec=/usr/share/solvionyx/welcome-app/solvionyx-welcome.py
Icon=solvy
Terminal=false
Categories=Utility;System;
X-GNOME-Autostart-enabled=true
