[Unit]
Description=Solvy AI Assistant Daemon
After=network.target sound.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/solvy/solvy-daemon.py
Restart=on-failure
User=solvionyx

[Install]
WantedBy=graphical.target
