[Unit]
Description=Solvy AI Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/solvy/solvy-daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
