[Unit]
Description=Solvy AI Daemon
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/solvy/solvy-daemon.py
EnvironmentFile=/etc/solvy/solvy.env
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
